// sudo west build -p -d build/handwired -b sparkfun_pro_micro_rp2040 -- -DSHIELD=handwired -DZMK_EXTRA_MODULES=/Users/ameer/keyboard/zmk-config 

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    macros {
        blackheart: black_heart_emoji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings
                = <&macro_press &kp LCTRL &kp LGUI>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LCTRL &kp LGUI>
                , <&macro_wait_time 75>
                , <&macro_tap &kp LSHIFT>
                , <&macro_wait_time 1>
                , <&macro_tap &kp B &kp L &kp A &kp C &kp K &kp SPACE &kp H &kp E &kp A &kp R>
                , <&macro_wait_time 300>
                , <&macro_tap &kp T>
                , <&macro_wait_time 1>
                , <&macro_tap &kp RETURN &kp RETURN>
                ;
        };
        middlefinger: middle_finger_emoji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings
                = <&macro_press &kp LCTRL &kp LGUI>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LCTRL &kp LGUI>
                , <&macro_wait_time 75>
                , <&macro_tap &kp LSHIFT>
                , <&macro_wait_time 1>
                , <&macro_tap &kp M &kp I &kp D &kp D &kp L &kp E &kp SPACE &kp F &kp I &kp N &kp G &kp E>
                , <&macro_wait_time 300>
                , <&macro_tap &kp R>
                , <&macro_wait_time 1>
                , <&macro_tap &kp RETURN &kp RETURN>
                ;        
        };
    };
    keymap {
        compatible = "zmk,keymap";

        0 {
            bindings = <
            	&kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &kp BSPC
				&kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT &kp BSLH
				&kp CAPS &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp APOS &none &kp RETURN
				&kp LSHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp RSHIFT &kp UP &kp LG(DELETE)
				&kp LCTL &kp LALT &kp LGUI &kp SPACE &none &none &kp SPACE &none &mo 1 &kp GLOBE &kp HOME &kp LEFT &kp DOWN &kp RIGHT
            >;
        };
        1 {
            bindings = <
            	&kp GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp BSPC
				&kp TAB &blackheart &middlefinger &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT &kp BSLH
				&kp CAPS &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp APOS &none &kp RETURN
				&kp LSHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp RSHIFT &kp UP &bootloader
				&kp LCTL &kp LALT &kp LGUI &kp SPACE &none &none &kp SPACE &none &tog 1 &kp RCTL &kp RGUI &kp LEFT &kp DOWN &kp RIGHT
            >;
            };
        };
    };
